.flex-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* .row{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} */
h1{
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #383838;
    box-shadow: 2px 2px 5px #606060;
}

.col-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-1 p{
    margin-left: 20px;
}